body {
    background-color: #CCE5DC;
}
.logo {
    width: 200px;
    height: 84px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    display: inline-block;
}
.page_holder {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.topcoat-button,
.topcoat-button--cta,
.topcoat-text-input {
    margin: 10px;
}

.login_fb {
    margin: 10px;
    width: 180px;
    height: 41px;
    background-image: url('../images/fb.png');
    cursor: pointer;
    
    display: inline-block;
}

.drink_thumb {
    width: 50px;
    position: absolute;
    left: 10px;
    height: 50px;
}

.drink_thumb_big {
    
}

.topcoat-button.with_icon {
    padding: 5px;
    min-width: 200px;
    padding-left: 50px;
    font-weight: bold;
    margin: 10px;
}
.balance {
    font-size: 18px;
    color: #888;
}
.balance .money {
    font-weight: bold;
    color: #777;
}
.drinks {
    
  width: 300px;
  display: inline-block;
  height: 500px;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.tip {
    font-size: 12px;
    color: #777;
}
.drink {
    text-align: left;
    width: 280px;
    height: 500px;
}

.drink .image {
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 5px #888888;
    float: left;
    margin: 5px 10px 10px 5px;
}

.drink .title {
    color: #222;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.drink .description {
    color: #333;
    font-size:  14px;
    font-style: italic;
    margin-bottom: 20px;
    margin: 10px;
    text-align: justify;
    
}

.drink .topcoat-radio-button {
    margin: 10px;
}

.extra {
    margin: 10px;
}

.extra .title {
    text-align: left;
    color: #333;
}